//ana tüm bileşenler burada
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* 
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.montserrat-<body> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}


a{
    text-decoration: none;
    color: $text-color;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;


}

.container {
    //  background-image: url('/public/images/background.png'); 
    //  background: $dark-color;
     background-size: cover;
     background-repeat: no-repeat;
     overflow: hidden;
     width: 100dvw;
     height: 100dvh;
 z-index: 1;
    /* background-color: #00000078; */
}