// Ana temel değişkenler için
$dark-color: black;
$soft-dark-color: #00000033;
$medium-dark-color: #00000098;

$primary-color:#A5D9D0;
$secondary-color:black;
$light-color:#f6f6f6;
$medium-color:black;



$text-color:#f6f6f6;
$text-shadow-color:#f6f6f6;

$fontsize:1.0rem;
$fontsize2:2.0rem;

$fontsize08:0.8rem;
$fontsize06:0.6rem;


$welcome-min-height: 496px;
$welcome-min-width: 451px ;
$welcome-card-content-min-width:381px;



$gallery-min-height: 355px;
$gallery-min-width: 451px ;

$player-min-height: 75px;
$player-min-width: 693px ;

$social-min-height: 75px;
$social-min-width: 448px ;
$welcome-min-height: 496px;
$welcome-min-width: 451px ;


// Responsive 


$fontsize-responsive:1.0rem;
$fontsize2-responsive:2.0rem;

$fontsize08-responsive:0.6rem;
$fontsize06-responsive:0.5rem;


$welcome-card-content-min-width-responsive:280px;


$gallery-min-height-responsive: 255px;
$gallery-min-width-responsive: 310px ;

$player-min-height-responsive: 75px;
$player-min-width-responsive: 693px ;

$social-min-height-responsive: 65px;
$social-min-width-responsive: 248px ;