@import url("/public/css/reset-inputs.css") ;



@import 'utils';
@import 'base';
@import 'header';
@import 'welcome';
@import 'gallery';
@import 'player';
@import 'socialMedia';
@import 'responsive';

// @import 'reset-input';

